@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}

<div class="login-container" style="display: flex; align-items: center; justify-content: center; height: 100vh; background-color: #E2CD79;">
    <div class="login-card" style="display: flex; background-color: #A2996E; border-radius: 15px; padding: 20px;">
        <div style="padding: 40px; color: black;">
            <h2 style="font-size: 36px; font-weight: bold;">WELCOME BACK!</h2>
            <p>Don't have a account? <a href="/Account/Register" style="color: #3267d6; font-weight: bold;">Sign Up</a></p>

            <form method="post" action="/Account/Login" id="loginForm">
                <div class="form-group" style="margin-top: 20px;">
                    <label for="form2Example11">Username</label>
                    <input type="text" class="form-control" asp-for="UserId" placeholder="Enter username" style="background-color: #E2CD79; border: none;" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-top: 20px;">
                    <label for="form2Example22">Password</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Enter password" style="background-color: #E2CD79; border: none;" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
                    <button type="submit" class="btn btn-primary" style="background-color: #000; border: none; color: white; padding: 10px 40px; border-radius: 5px;">
                        Log in
                    </button>
                    <a href="#!" style="margin-top: 10px; color: black;">Forget password?</a>
                </div>
            </form>
        </div>

        
    </div>
</div>

@section scripts {
    <script>
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}
