@model LoginViewModel
@using static ASI.Basecode.Resources.Views.Screen
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Login Page";
}
@section styles {
    <link rel="stylesheet" href="~/css/login.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@400;600;700&display=swap" rel="stylesheet">
}

<div class="container">
    <div class="login-box">
        <h1>WELCOME BACK!</h1>
        <p>Don't have an account? <a href="#">Sign Up</a></p>
        <form>
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="username">

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="••••••••">

            <div class="forgot-password">
                <a href="#">forget password?</a>
            </div>

            <div class="login-btn-container">
                <button type="submit">Log in</button>
            </div>
        </form>
    </div>

    <div class="image-collage">
        <img src="~/img/room1.jpg" alt="Placeholder Collage">
    </div>
</div>

@section scripts {
<script>
    // Check for error message and display Toastr notification
    var errorMessage = '@TempData["ErrorMessage"]';
    if (errorMessage) {
        toastr.error(errorMessage);
    }
</script>
}
