/* Layout adjustments */
.login-container {
    height: 100vh;
}

.login-bg {
    background: linear-gradient(to right, #4c4e91, #212256);
    color: #fff;
}

.login-form-card {
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.gradient-custom-2 {
    background: #E2CD79;
    background: linear-gradient(to right, #E2CD79, #E2CD79);
}

.login-btn {
    width: 180px;
    color: #fff;
}

/* Text and link styling */
.text-muted {
    color: #6c757d !important;
}

    .text-muted:hover {
        text-decoration: underline;
    }

/* Form width and responsive adjustments */
@media (min-width: 768px) {
    .login-bg {
        height: 100vh;
    }

    .login-form-card {
        width: 400px;
    }
}

@media (max-width: 767px) {
    .login-bg, .login-form-card {
        height: auto;
    }
}
