.card {
    background: #FFDBB5; /* Light color for the card background */
    border-radius: 0.5rem;
    box-shadow: 0 5px 50px rgba(0,0,0,0.8); 
    transition: box-shadow 0.3s ease; 
}

.gradient-custom-2 {
    background: linear-gradient(to right, #E2CD79, #E2CD79); /* Red, Black */
}

.login-btn {
    width: 180px;
}

.register-box {
    width: 600px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/* Ensure the image is responsive and fills the space properly */
.col-lg-6 img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure image does not get distorted */
    border-radius: 0.5rem;
}
