@model ASI.Basecode.Services.ServiceModels.UserViewModel

@{
    ViewData["Title"] = "Create User";
}

<link rel="stylesheet" href="~/css/editcreatemodal.css" />
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Create User</h5>
            </div>
            <div class="modal-body">
                <form method="post" id="createUserForm">
                    <div class="form-outline mb-4">
                        <label class="form-label fw-bold" for="userId">Username</label>
                        <input type="text" id="userId" class="form-control" asp-for="UserId" placeholder="Enter username" required />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label fw-bold" for="name">Name</label>
                        <input type="text" id="name" class="form-control" asp-for="Name" placeholder="Enter name" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label fw-bold" for="password">Password</label>
                        <input type="password" id="password" class="form-control" asp-for="Password" placeholder="Enter password" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label fw-bold" for="confirmpassword">Confirm Password</label>
                        <input type="password" id="confirmpassword" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-block" type="submit" style="color: black;">
                            Register
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: black;">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
