@using ASI.Basecode.Services.ServiceModels
@inject IHttpContextAccessor HttpContextAccessor
@model UserViewModel
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Create User";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="~/css/modal.css" />
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Create User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x"></i> <!-- Bootstrap Icons example -->
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="createUserForm">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="userId">Username</label>
                        <input type="text" id="userId" class="form-control" asp-for="UserId" placeholder="Enter username" required />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" id="name" class="form-control" asp-for="Name" placeholder="Enter name" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" class="form-control" asp-for="Password" placeholder="Enter password" required  />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="confirmpassword">Confirm Password</label>
                        <input type="password" id="confirmpassword" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center">
                        <button class="btn btn-primary btn-block login-btn gradient-custom-2 mb-3" type="submit">
                            Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // Form submission with AJAX
        $(document).on("submit", "#createUserForm", function (event) {
            event.preventDefault();

            $.ajax({
                url: '@Url.Action("Create", "User")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (response) {
                    $('#createUserModal').modal('hide');
                    location.reload();
                },
                error: function (response) {
                    toastr.error("An error occurred while creating the user.");
                }
            });
        });
    </script>
}
