@{
    ViewData["Title"] = "Home Page";
    // Clear session variable related to UserManagement active state
    Context.Session.Remove("IsUserManagementActive");
    Context.Session.Remove("IsRoomManagementActive");
    Context.Session.Remove("IsViewBookingActive");
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Admin</p>
</div>
