@{
    ViewData["Title"] = "Home Page";
    // Clear session variable related to UserManagement active state
    Context.Session.Remove("IsUserManagementActive");
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
