@model ASI.Basecode.Services.ServiceModels.BookingViewModel

@{
    ViewData["Title"] = "Delete Booking";
}

<link rel="stylesheet" href="~/css/deletemodal.css" />
<div class="modal fade" id="deleteBookingModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="deleteBookingModalLabel">Confirmation</h5>
            </div>
            <div class="modal-body">
                <h7>Are you sure you want to delete this booking?</h7>

                <form id="deleteBookingForm" method="post" action="@Url.Action("DeleteBooking", "BookingUser")">
                    <input type="hidden" asp-for="BookingId" />
                    <input type="hidden" asp-for="RoomId" />

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger1" style="color: black;">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="color: black;">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
