@model ASI.Basecode.Services.ServiceModels.BookingViewModel

@{
    ViewData["Title"] = "Delete Booking";
    Context.Session.SetString("IsViewBookingActive", "true");
}

<div class="modal fade" id="deleteBookingModal" tabindex="-1" role="dialog" aria-labelledby="deleteBookingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="deleteBookingModalLabel">Delete Booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to delete this booking?</h3>

                <input type="hidden" asp-for="RoomId" id="RoomId" />
                <form id="deleteBookingForm" method="post" action="@Url.Action("DeleteBooking", "BookingUser")">
                    <input type="hidden" asp-for="BookingId" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
